
body {
    background-color: black;
    color: whitesmoke;
}
.app-header {
    background-color: rgba(255, 255, 255, 0.281);
    height: 200px;
    margin-top: -40px;
    border-bottom: 2px groove whitesmoke;
}

.add-train-btn {
    float: right;
    margin-top: -80px;
}

#currentTime {
    text-align: center;
    font-weight: bold;
    border: 1px groove whitesmoke;
}


/* Backgound Image */
.hero-unit_background-image {
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 100%;
    background-image: url("../images/worldmap.jpg");
    background-size: cover;
    opacity: 0.30;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #train-table {
      border: 5px groove whitesmoke;
      min-height: 600px;
  }

  .btn {
        background-color: rgba(245, 245, 245, 0.9);
        color: black;
    }

  /* Table CSS */
  th {
      font-weight: 900;
  }

  td {
      font-weight: bold;
  }

  tr{
      border-bottom: 1px solid whitesmoke;
  }

  .control-label {
      color: black;
  }

  .modal-title, h4 {
      color: black;
  }

  @media screen and (max-width: 500px) {
    .lead {
        font-size: 20px;
    } 
    .add-train-btn {
        float: left;
        margin-top: -10px;
    }
    th {
        font-weight: 900;
        font-size: 11px;
    }
  
    td {
        font-weight: 100;
        font-size: 11px;

    } 
  }

  @media screen and (max-width: 375px) {
    .lead {
        font-size: 15px;
    } 
    .add-train-btn {
        float: left;
        margin-top: -10px;
    }
    th {
        font-weight: 500;
        font-size: 7px;
    }
  
    td {
        font-weight: 100;
        font-size: 7px;

    } 

    .app-header h1 {
        font-size: 30px;
    }

    .btn {
        font-size: 10px;
    }

    .jumbotron {
        height: 150px;
    }
  }